<div class="row">
  <div class="col-6 mx-auto search_form">
  <h4>付近の飲食店検索</h4>
    <form name="search">
      <div class="form-group row">
        <label for="radius" class="col-2 col-form-label">検索半径</label>
        <div class="col-10 input">
          <select name="radius" id="radius" class="form-control">
            <option value="1">300</option>
            <option value="2">500</option>
            <option value="3">1000</option>
            <option value="4">2000</option>
            <option value="5">3000</option>
          </select>
          <small class="text-muted">検索半径を選んでください。</small>
        </div>
      </div>
      <div class="form-group row">
        <label for="word" class="col-2 col-form-label">検索ワード</label>
        <div class="col-10 input">
          <input type="text" class="form-control" name="word" id="word" placeholder="（例）ラーメン">
          <small class="text-muted">※入力は自由です。</small>
        </div>
      </div>
    </form>
    <div class="right-button">
      <button type="submit" class="btn btn-primary" onclick="getPosition();">検索する</button>
    </div>
  </div>
</div>
